{{#smd-modal
  title="Modal Title"
  primaryText="Agree"
  secondaryText="Disagree"
  primaryAction="save"
  secondaryAction="dismiss"
}}
<p>
  Allow this site to collect usage data to improve your experience?
</p>
{{/smd-modal}}
