{{link-to 'Home' 'home' class="mdl-navigation__link"}}
<a class="mdl-navigation__link" href="">App Header</a>
<a class="mdl-navigation__link" href="">App Drawer</a>
<a class="mdl-navigation__link" href="">Content</a>
<a class="mdl-navigation__link" href="">Navigation</a>
