.mdl-tabs {
  &--primary {
    background: unquote("rgb(#{$color-primary})");
  }

  &--accent {
    background: unquote("rgb(#{$color-accent})");
  }

  &__tab-bar {
    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__tab {
    &--primary {
      color: unquote("rgb(#{$color-primary-contrast})");
    }

    &--accent {
      color: unquote("rgb(#{$color-accent-contrast})");
    }
  }

  &.is-upgraded &__tab--primary.is-active {
    color: unquote("rgb(#{$color-primary-contrast})");

    &:after {
      background: unquote("rgb(#{$color-primary-contrast})");
    }
  }

  &.is-upgraded &__tab--accent.is-active {
    color: unquote("rgb(#{$color-accent-contrast})");

    &:after {
      background: unquote("rgb(#{$color-accent-contrast})");
    }
  }
}
