.hero {
  background: #222;
  color     : white;
  padding   : 10rem 1.5rem 2rem;

  &__heading {
    font-size  : 2rem;
    font-weight: 300;
    line-height: 1;
    margin     : 0;
  }

  &__logo {
    height  : 10rem;
    position: absolute;
    top     : 2rem;
    right   : 1.5rem;
    opacity : 0.34;
  }
}
