.mdl-layout {
  &__content {
    display       : flex;
    flex-direction: column;
  }

  &__liquid {
    height  : 100%;
    position: absolute;
    width   : 100%;

    > .liquid-child {
      display       : flex;
      flex-direction: column;
      height        : 100%;
      overflow      : auto;
    }
  }
}

.smd-liquid--flex {
  display       : flex;
  flex-direction: column;
  min-height    : 100%;

  > .liquid-child {
    flex: 1;
  }
}

.smd-liquid--fixed {
  display       : flex;
  flex-direction: column;
  pointer-events: none;
  position      : static;
  height        : 100%;
  width         : 100%;
  top           : 0;
  left          : 0;

  > .liquid-child {
    flex: 1;
  }
}

.smd-liquid--grow {
  overflow: auto;
}

body > .ember-view {
  height: 100%;
}
