.smd-modal {
  height         : 100%;
  position       : fixed;
  width          : 100%;
  top            : 0;
  left           : 0;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  pointer-events : auto;

  &__container {
    @include trans;
    background    : white;
    border        : none;
    box-shadow    : 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    display       : flex;
    flex-direction: column;
    position      : relative;
    height        : 100%;
    width         : 100%;
    z-index       : 5;
    @media screen and (min-width: 415px) {
      margin    : 4rem;
      min-height: 80%;
      min-width : 80%;
      height    : auto;
      width     : auto;
    }
    @media screen and (min-width: 1025px) {
      min-width: 70%;
      max-width: 40rem;
    }
  }

  &__header {
    background     : unquote("rgb(#{$color-primary-dark})");
    color          : unquote("rgb(#{$color-primary-contrast})");
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    min-height     : 4rem;
    padding        : 1rem 1.5rem;
  }

  &__close {
    margin: 0 1rem 0 -.5rem;
  }

  &__title {
    display       : inline-block;
    @include typo-title;
    text-transform: uppercase;
    flex          : 1;
    line-height   : 2rem;
    margin        : 0;
  }

  &__action {
    color : white;
    margin: 0 0 0 1rem;
  }

  &__body {
    padding : 1.5rem;
    overflow: auto;
    flex    : 1;
  }

  &__footer {
    border-top: 1px solid $c-border;
    padding   : 1rem 1.5rem;
    text-align: right;
  }
}
