::backdrop {
  background-color: rgba(black, .6);
}

.smd-modal {
  @include trans;
  background: transparent;
  border    : none;
  margin    : auto;
  padding   : 0;
  width     : 100%;
  @media screen and (min-width: 415px) {
    min-height: 80%;
    min-width : 80%;
  }
  @media screen and (min-width: 1025px) {
    min-width: 70%;
    max-width: 40rem;
  }

  &__container {
    background    : white;
    box-shadow    : 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    display       : flex;
    flex-direction: column;
    position      : relative;
    margin        : auto;
    z-index       : 5;
    @media screen and (min-width: 415px) {
      margin: 2rem auto;
    }
    @media screen and (min-width: 1025px) {
      margin: 4rem auto;
    }
  }

  &__header {
    background     : unquote("rgb(#{$color-primary-dark})");
    color          : unquote("rgb(#{$color-primary-contrast})");
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    min-height     : 4rem;
    padding        : 1rem 1.5rem;
  }

  &__close {
    margin: 0 1rem 0 -.5rem;
  }

  &__title {
    display       : inline-block;
    @include typo-title;
    text-transform: uppercase;
    flex          : 1;
    line-height   : 2rem;
    margin        : 0;
  }

  &__action {
    color : white;
    margin: 0 0 0 1rem;
  }

  &__body {
    padding : 1.5rem;
    overflow: auto;
    flex    : 1;
  }

  &__footer {
    border-top: 1px solid $c-border;
    padding   : 1rem 1.5rem;
    text-align: right;
  }
}

.smd-alert {
  @include trans;
  background: transparent;
  border    : none;
  margin    : auto 2rem;
  padding   : 0;
  min-width : 17.5rem;
  width     : auto;
  @media screen and (min-width: 415px) {
    margin    : auto;
    min-height: 80%;
    min-width : 80%;
  }
  @media screen and (min-width: 1025px) {
    min-width: 70%;
    max-width: 40rem;
  }

  &__container {
    background    : white;
    box-shadow    : 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    display       : flex;
    flex-direction: column;
    position      : relative;
    margin        : auto;
    z-index       : 5;
    @media screen and (min-width: 415px) {
      margin: 2rem auto;
    }
    @media screen and (min-width: 1025px) {
      margin: 4rem auto;
    }
  }

  &__title {
    display    : inline-block;
    @include typo-title;
    flex       : 1;
    line-height: 2rem;
    padding    : 1.5rem 1.5rem 0;
    margin     : 0;
  }

  &__body {
    padding : 1.5rem;
    overflow: auto;
    flex    : 1;
  }

  &__footer {
    padding   : 1rem 1.5rem 1.5rem;
    text-align: right;
  }

  p {
    font-size    : 1rem;
    line-height  : 1.5rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
