.smd-page {
  display       : flex;
  flex-direction: column;
  flex          : 1;

  &--scrollable {
    overflow: auto;
  }

  &__header {
    padding      : 3rem 1rem 1rem;
    background   : rgba(0,0,0,0.06);
    border-bottom: 1px solid rgba(0,0,0,0.12);
  }

  &__body {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    flex         : 1;
    padding      : 1rem;

    p {
      margin: 0 0 1rem;
    }
  }

  &__footer {
    padding: 1rem;
  }

  &__subtitle,
  &__title {
    line-height: 1;
    margin     : 0;
  }

  &__title {
    @include typo-headline;
  }

  &__subtitle {
    @include typo-title;
    margin: 2rem 0 1rem;
  }
}
