//@import "_color-definitions";

//$color-primary: $palette-teal-500;
//$color-accent: $palette-pink-A200;

//@import "material-design-lite";
@import "sauce-material-design.scss";

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.custom-cover-image-class {
  background-image: url(https://unsplash.it/g/1200/400/);
}

.styleguide {
  &__header,
  &__section {
    padding: 4rem 2rem 1rem;
  }
  &__title {
    @include typo-display-1;
    line-height: 1;
    margin: 0 0 1rem;
  }
  &__text {
    @include typo-body-1;
  }
  &__preview {
    border-bottom: 1px solid #DDD;
    padding: 0 0 3rem;
    margin: 0 2rem 3rem;
  }
  &__code {
    margin: 2rem;
    padding: 0;
    code {
      padding: 2rem;
      margin: 0;
    }
  }
  &__table {
    width: 100%;
    td, th {
      text-align: left;
    }
    em {
      color: unquote("rgb(#{$color-accent;})");
    }
  }
}
