@import "//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en";
@import "//fonts.googleapis.com/icon?family=Material+Icons";
@import "sauce-material-design.scss";
@import "component.layout";
@import "component.navbar";
@import "component.page";

.sg-flex-row {
  display        : flex;
  flex-direction : row;
  align-items    : flex-start;
  justify-content: space-around;
}

.smd-header {
  &--transition {
    position: relative;
    top     : auto;
    left    : auto;
    right   : auto;
  }

  &--minimized.smd-header--with-fab &__toolbar--bottom {
    bottom: 1.75rem;
  }

  &--minimized.smd-header--with-mini-fab &__toolbar--bottom {
    bottom: 1.25;
  }

  &--transition.smd-header--with-mini-fab .smd-header__toolbar--bottom {
    bottom: 1.25;
  }

  &__title {
    @include trans;
  }
}

.sg-flex-row {
  display        : flex;
  flex-direction : row;
  align-items    : flex-start;
  justify-content: space-around;
}

pre {
  border: 1px solid rgba(0,0,0, 0.12);
  margin: 1rem 0 3rem;
}

.sg-table {
  position        : relative;
  border          : 1px solid rgba(0,0,0,.12);
  border-collapse : collapse;
  white-space     : auto;
  font-size       : 13px;
  line-height     : 24px;
  background-color: #fff;
  margin          : 1rem 0 3rem;
  width           : 100%;
  /* Zebra striping */
  tbody tr:nth-of-type(odd) {
    background: #FAFAFA;
  }

  th {
    font-weight: bold;
  }

  td,
  th {
    position     : relative;
    height       : 48px;
    border-top   : 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding      : 12px 18px;
    box-sizing   : border-box;
    text-align   : left;
  }

  em {
    color: unquote("rgb(#{$color-accent;})");
  }
}
@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .sg-table {
    display: block;

    tbody,
    td,
    th,
    thead,
    tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top     : -9999px;
      left    : -9999px;
    }

    tr {
      //border: 1px solid rgba(0,0,0,.12);
    }

    td {
      /* Behave  like a "row" */
      border       : none;
      border-bottom: 1px solid rgba(0,0,0,.12);
      position     : relative;
      padding-left : 50%;
      height       : auto;
      white-space  : normal;
    }

    td:before {
      /* Now like a table header */
      position     : absolute;
      /* Top/left values mimic padding */
      top          : 12px;
      left         : 18px;
      width        : 45%;
      padding-right: 10px;
      white-space  : nowrap;
    }
    /*
  	Label the data
  	*/
    &--attributes {
      td:nth-of-type(1):before {
        content: "Attribute";
      }

      td:nth-of-type(2):before {
        content: "Description";
      }

      td:nth-of-type(3):before {
        content: "Type";
      }

      td:nth-of-type(4):before {
        content: "Default";
      }
    }

    &--actions {
      td:nth-of-type(1):before {
        content: "Action";
      }

      td:nth-of-type(2):before {
        content: "Description";
      }

      td:nth-of-type(3):before {
        content: "Parameters";
      }
    }
  }
}
