//@import "_color-definitions";

//$color-primary: $palette-teal-500;
//$color-accent: $palette-pink-A200;

//@import "material-design-lite";
@import "sauce-material-design.scss";

html,
body {
  height: 100%;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

.custom-cover-image-class {
  background-image: url(https://unsplash.it/g/1200/400/);
}

.styleguide {
  &__header,
  &__section {
    padding: 4rem 2rem 1rem;
  }
  &__title {
    @include typo-display-1;
    line-height: 1;
    margin: 0 0 1rem;
  }
  &__subtitle {
    @include typo-title;
    line-height: 1;
    margin: 0 0 1rem;
  }
  &__text {
    @include typo-body-1;
  }
  &__preview {
    border-bottom: 1px solid #DDD;
    padding: 0 0 2rem;
    margin: 0 2rem;
  }
  &__code {
    margin: 1rem 2rem;
    padding: 0;
    code {
      padding: 2rem;
      margin: 0;
    }
  }
  &__table {
    width: 100%;
    td, th {
      text-align: left;
    }
    em {
      color: unquote("rgb(#{$color-accent;})");
    }
  }
}

.smd-form {
  &__control {
    .mdl-slider__container {
      height: 27px;
    }
    .mdl-slider__background-flex {
      margin: 0;
    }
    &--select {
      &::before {
        $size: 1.75rem;
        display: block;
        color: rgb(97,97,97);
        content: 'arrow_drop_down';
        cursor: pointer;
        height: $size;
        line-height: $size;
        font-size: 1.25rem;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        position: absolute;
        text-align: center;
        top: 20px;
        right: 0;
        min-width: $size;
        width: $size;
        z-index: 1;
      }
    }
  }
  &__input {
    &--color {
      $size: 2rem;
      height: $size;
      padding: 0;
      width: $size;
      border-bottom: none;
      line-height: 1;
      display: block;
    }
    &--range {
      margin: 0!important;
    }
    &--select {
      border-radius: 0;
      position: relative;
      z-index: 2;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
    }
  }
  &__label {
    &--fixed {
      top:4px;
      font-size: .75rem;
      visibility: visible;
    }
  }
  &__group {
    display: flex;
    margin:0 -0.5rem;
    > * {
      margin: 0 .5rem;
    }
  }
  &__fieldset {
    border: 1px solid $input-text-bottom-border-color;
    padding: 1rem;
    .smd-form__control {
      display: block;
    }
  }
  &__legend {
    color:$input-text-label-color;
    padding: 0;
  }

  &__error,
  &__warning,
  &__tip {
    color: $input-text-label-color;
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
  }
  .is-focused &__tip {
    color: unquote("rgba(#{$color-black}, 0.54)");
  }
  &__error {
    color: $input-text-error-color;
  }
  &__warning {
    color: unquote("rgb(#{$palette-orange-A700})");
  }
}
