<div class="smd-page">
  <header class="smd-page__header" id="attributes">
    <h1 class="smd-page__title">Attributes</h1>
  </header>

  <section class="smd-page__body">
    <table class="sg-table sg-table--attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>align</td>
          <td>Defines the tab alignment. (left, right & center)</td>
          <td><em>string</em></td>
          <td>center</td>
        </tr>
        <tr>
          <td>theme</td>
          <td>Defines the tab style. (default, primary & accent)</td>
          <td><em>string</em></td>
          <td>default</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
