<div class="smd-page">
  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Tabs & Tab Components</h1>
  </header>

  <section class="smd-page__body">

    <p>This example tabs between 4 child routes which are loaded into a liquid outlet in a sibling smd-page element.</p>

    {{code-snippet name="smd-tabs.hbs"}}

    <p>The smd-tab component extends the ember <i>link-to</i> helper so can be used with the same unnamed route parameters.</p>

    <p>The .smd-liquid--grow class on the liquid-outlet allows the outlet to scroll to fit it's content</p>
  </section>
</div>
