<h2 class="smd-page__subtitle">Tab Route One</h2>

<p>The example above tabs between 4 child routes which are loaded into a liquid outlet in a sibling smd-page element.</p>

{{code-snippet name="smd-tabs.hbs"}}
