<div class="smd-page">
  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Animation</h1>
  </header>

  <section class="smd-page__body">

    <p>We use ember liquid fire to animate the transition between tabs. Below is an exampleof the relevant animations in app/transitions.js</p>

    <p>This is pretty long winded right now, as we have to cover all possible combinations routes (3+2+1!) A simpler method of declaring a seris of tab animations will be looked at in the future.</p>

    {{code-snippet name="smd-tabs-transitions.js"}}

  </section>
</div>
