// BEGIN-SNIPPET smd-alert

{{#smd-alert id="alert" affirmativeText="Delete" dismissiveText="Cancel" affirmativeAction="confirm"}}
  <p>Delete thing?</p>
{{/smd-alert}}

// END-SNIPPET

// BEGIN-SNIPPET smd-alert-title

{{#smd-alert id="titleAlert" title="Use Googles location service?" affirmativeText="Agree" dismissiveText="Disagree" affirmativeAction="confirm"}}
  <p>Let Google help apps determin location. This means sending anonomus location data to Google, even when no apps are running.</p>
{{/smd-alert}}

// END-SNIPPET

// BEGIN-SNIPPET smd-alert-naked

{{#smd-alert id="nakedAlert" affirmativeAction="confirm"}}
  <p>I am here to alert you.</p>
  <p>Are you alerted?</p>
{{/smd-alert}}

// END-SNIPPET
