<!-- BEGIN-SNIPPET smd-page -->
{{#smd-page}}

  {{smd-page-header title="Page Components"}}

  {{#smd-page-body}}

    <p>The following page components can be used to layout basic page data.</p>

    {{code-snippet name="smd-page.hbs"}}

  {{/smd-page-body}}

  {{#smd-page-footer}}
    <p>View on <a href="https://github.com/sauce-consultants/ember-sauce-material-design">github</a></p>
  {{/smd-page-footer}}

{{/smd-page}}

<!-- END-SNIPPET -->
