{{#if hasLabel}}
  <span class="smd-item__label">{{label}}</span>
{{/if}}
{{#if hasAction}}
  <div {{action 'buttonAction' bubbles=false}}>
    {{smd-button disabled=disabled icon=icon isColored=false class=actionClassNames }}
  </div>
{{/if}}
