{{#if hasLabel}}
  <span class="smd-item__label">{{label}}</span>
{{/if}}
{{#if hasAction}}
  <div {{action 'buttonAction' bubbles=false}}>
    {{mdl-button icon=icon isColored=false class=actionClassNames action='buttonAction'}}
  </div>
{{/if}}
