<header class="sdl-header">
  <h1 class="sdl-header__title">Title</h1>
  {{mdl-button icon='keyboard_arrow_left' isColored=false class="sdl-header__back"}}
  {{mdl-button icon='search' isColored=false class="sdl-header__search"}}
  {{mdl-button isFloating=true icon='add' class="sdl-header__fab"}}
  {{outlet}}
</header>
