<div class="smd-page">

  <header class="smd-page__header" id="top">
    <h1 class="smd-page__title">Header Service</h1>
  </header>

  <section class="smd-page__body">

    <p>A common pattern in ember material design apps is to have a smd-header component in a parent route and child routes rendering content below.</p>

    <p>The header service allows you to control content in the header from your child routes.</p>

    {{code-snippet name="smd-header-service.js"}}

  </section>

  <header class="smd-page__header" id="attributes">
    <h1 class="smd-page__title">Attributes</h1>
  </header>

  <section class="smd-page__body">
    <table class="sg-table sg-table--attributes">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>title</td>
          <td>String for the headers title</td>
          <td><em>string</em></td>
          <td>null</td>
        </tr>
      </tbody>
    </table>
  </section>

  <footer class="smd-page__footer">
    <p>View on <a href="https://github.com/sauce-consultants/ember-sauce-material-design">github</a></p>
  </footer>

</div>
