  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Source MD</span>
    <nav id="main-navigation" class="mdl-navigation">
      {{#link-to 'header' class="mdl-navigation__link"}}Header{{/link-to}}
    </nav>
  </div>

  <div class="mdl-layout__content">
    {{outlet}}
  </div>
