{{smd-header
  title="Dialogs"
  backIcon="arrow_back"
  backAction="back"
  scrolling=true
}}
<div class="smd-page">

  <header class="smd-page__header">
    <h1 class="smd-page__title">Dialog Routes</h1>
  </header>

  <section class="smd-page__body">

    <p>Complex dialogs (modals) should be assigned to routes in smd.</p>

    <p>{{link-to 'Open Modal Route' 'dialog.open'}}</p>

  </section>

  <footer class="smd-page__footer">
    <p>View on <a href="https://github.com/sauce-consultants/ember-sauce-material-design">github</a></p>
  </footer>
</div>

{{liquid-outlet class="smd-liquid--fixed"}}
