<header class="styleguide__header">
  <h1 class="styleguide__title">Empty State</h1>
  <p class="styleguide__text">Provide a nice message to users when nothings there.</p>
</header>

<pre class="styleguide__code">
  <code class="js">
    &#123;{smd-empty text='No things were found'}&#125;
  </code>
</pre>

<div class="styleguide__preview">
  {{smd-empty text='No things were found'}}
</div>

<div class="styleguide__section">
  <h1 class="styleguide__title">Dropdown Item Attributes</h1>

  <table class="styleguide__table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>text</td>
        <td>Defines the message text</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>Defines the <a href="https://design.google.com/icons/">material design icon</a> used for the component</td>
        <td><em>string</em></td>
        <td>null</td>
      </tr>
    </tbody>
  </table>
</div>
