<header class="hero">
  <h1 class="hero__heading">Sauce Material Design</h1>
  <img class="hero__logo" src="/images/sauce-logo.png" alt="Sauce Logo">
</header>
<section class="section">
  <p class="section__text section__text--large">Sauce Material Design is a collection of ember components and patterns for building applications that adhear to Google's <a href="https://material.google.com/">Material Design</a> visual language.</p>
</section>
<section class="section">
  <h1 class="section__heading">Installation</h1>
  <p class="section__code section__code--large"><code>ember install ember-sauce-material-design</code></p>
</section>
<section class="section">
  <h1 class="section__heading">Components</h1>

  <p class="section__text">SMD includes the following components</p>

  <ul class="section__list">
    <li class="section__list-item">{{link-to 'Form' 'forms'}}</li>
    <li class="section__list-item">{{link-to 'Header' 'header'}}</li>
    <li class="section__list-item">{{link-to 'List' 'item'}}</li>
    <li class="section__list-item">{{link-to 'Empty state' 'empty'}}</li>
  </ul>
</section>
