<div class="smd-page">

  <header class="smd-page__header">
    <h1 class="smd-page__title mdl-typography--display-1">Sauce Material Design</h1>
  </header>

  <section class="smd-page__body">

    <img src="/images/sauce-logo.png" alt="Sauce Logo" style="display:block; height:10rem; margin: 1rem auto;">

    <p>Sauce Material Design is a collection of ember components and patterns for building applications that adhear to Google's <a href="https://material.google.com/">Material Design</a> visual language.</p>

    <h2 class="smd-page__subtitle mdl-typography--headline">Installation</h2>

    <p><code>ember install ember-sauce-material-design</code></p>

    <h2 class="smd-page__subtitle mdl-typography--headline">Components</h2>

    <p>SMD includes the following components</p>

    <ul>
      <li>{{link-to 'Form' 'forms'}}</li>
      <li>{{link-to 'Header' 'header'}}</li>
      <li>{{link-to 'List' 'item'}}</li>
      <li>{{link-to 'Empty state' 'empty'}}</li>
    </ul>

  </section>

  <footer class="smd-page__footer">
    <p>View on <a href="https://github.com/sauce-consultants/ember-sauce-material-design">github</a></p>
  </footer>
</div>
