{{smd-header
  title="Sauce Material Design"
  backIcon="back"
}}
<div class="smd-page">
  <header class="smd-page__header">
    <h1 class="smd-page__title">Introduction</h1>
  </header>
  <section class="smd-page__body">

    <p>Sauce Material Design is a collection of ember components and patterns for building applications that adhear to Google's <a href="https://material.google.com/">Material Design</a> visual language.</p>

    <h2 class="smd-page__subtitle">Installation</h2>

    <p><code>ember install ember-sauce-material-design</code></p>

    <h2 class="smd-page__subtitle">Components</h2>

    <p>SMD includes the following components</p>

  </section>
  <footer class="smd-page__footer">
    <p>View on <a href="https://github.com/sauce-consultants/ember-sauce-material-design">github</a></p>
  </footer>
</div>
