{{#smd-page}}

  {{smd-page-header title="Scrollable List"}}

  {{#smd-page-body}}

    <p>Give a list a height and set scrollable to true to allow a list to be scrolled.</p>

    {{#smd-list scrollable=true class="sg-list--scrollable"}}
      {{#each model as |item|}}
        {{smd-item
          title=item.name
          meta=item.company
          avatarSrc=item.avatar
          actionIcon='keyboard_arrow_right'
          isBordered=true
        }}
      {{/each}}
    {{/smd-list}}

    {{code-snippet name="smd-list-scrollable.hbs"}}

  {{/smd-page-body}}

{{/smd-page}}
