<div class="smd-page">

  <header class="smd-page__header">
    <h1 class="smd-page__title">Sticky Subheadings</h1>
  </header>

  <section class="smd-page__body">

    <p>Lists can contain sub headings to divide up your lists. The smd-subheader is a helper, not a component, you can call it in each itteration of your list items and it will only render where the subheaders value changes.</p>

    <p>The example below can be viewed in the example tab. We render an ordered list of items and divide items up by their initial. The list is stickt and scrollable so as you scroll the active subheading will stick to the top of the list.</p>

    {{code-snippet name="smd-list-example.hbs"}}

  </section>

</div>
